<!doctype html>
<html role="application">
<meta charset=utf-8>
<title>Cookie Trader</title>
<link rel="stylesheet" href="css/style.css">
<body>
<div id="wrapper" class="l-h-flex">
<header>
  <h1>Cookie Trader</h1>
  <input id="player-name" type="text" />
  <button id="participate-button">Participate</button>
</header>
<main class="l-flex-item l-v-flex">
  <div class="l-flex-item l-h-flex">
    <div id="info-block" class="l-flex-item">
      You have <span id="my-total-cookie">0</span> cookies.<br>
      You bake <span id="my-cps">0.0</span> cookies per seconds.
    </div>
    <div id="type-block">
      <p>Typing here.
    </div>
  </div>
  <div id="action-block">
    <div>
    </div>
    <div class="bakeries">
      <div id="bakery-Cursor" class="bakery-item">Pointer</div>
      <div id="bakery-Grandma" class="bakery-item">Grandma</div>
      <div id="bakery-Farm" class="bakery-item">Farm</div>
      <div id="bakery-Factory" class="bakery-item">Factory</div>
      <div id="bakery-Mine" class="bakery-item">Mine</div>
      <div id="bakery-Shipment" class="bakery-item">Shipment</div>
      <div id="bakery-AlchemyLab" class="bakery-item">AlchemyLab</div>
      <div id="bakery-Portal" class="bakery-item">Portal</div>
      <div id="bakery-TimeMachine" class="bakery-item">Time Machine</div>
      <div id="bakery-AntimatterCondenser" class="bakery-item">Antimatter Condenser</div>
    </div>
  </div>
</main>
<footer>
  This application inspires to <a href="http://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a>
</footer>
</div><!-- /wrapper -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/vendor/underscore.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/js/bakery.js" type="text/javascript"></script>
<script src="/js/equip.js" type="text/javascript"></script>
<script src="/js/player.js" type="text/javascript"></script>
<script src="/js/client.js" type="text/javascript"></script>
