/* RESET */
html, body { margin: 0; padding: 0; width: 100%; height: 100%; }

/* Layouts */
#wrapper { height: 100%; }
.l-h-flex,
.l-v-flex {
	display: flex;
}
.l-h-flex { flex-direction: column; }
.l-v-flex { flex-direction: row; }

.l-h-flex>:not(.l-flex-item),
.l-v-flex>:not(.l-flex-item) {
	overflow: hidden;
}
.l-h-flex>.l-flex-item,
.l-v-flex>.l-flex-item {
	flex: 1;
}
/* specific layout */
#action-block { width: 250px; position: relative; }


/* DEBUG COLOR */
header { background-color: #efe; }
footer { background-color: #fee; }
#info-block { background-color: #ffe; }
#type-block { background-color: #fef; }
#action-block { background-color: #eff; }

/* bakery module */
.bakeries {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow: auto;
}
.bakery-item {
	height: 50px;
}
.bakery-item:nth-child(1) { background-color: hsl(0, 50%, 85%); }
.bakery-item:nth-child(2) { background-color: hsl(20, 50%, 85%); }
.bakery-item:nth-child(3) { background-color: hsl(40, 50%, 85%); }
.bakery-item:nth-child(4) { background-color: hsl(60, 50%, 85%); }
.bakery-item:nth-child(5) { background-color: hsl(80, 50%, 85%); }
.bakery-item:nth-child(6) { background-color: hsl(100, 50%, 85%); }
.bakery-item:nth-child(7) { background-color: hsl(120, 50%, 85%); }
.bakery-item:nth-child(8) { background-color: hsl(140, 50%, 85%); }
.bakery-item:nth-child(9) { background-color: hsl(160, 50%, 85%); }
.bakery-item:nth-child(10) { background-color: hsl(180, 50%, 85%); }

#cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#initial-form {
  position: relative;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 40px;
  width: 600px;
  height: 140px;
  background-color: #FFFFFF;
}

#initial-form input {
  margin-left: auto;
  margin-right: auto;
  width: 592px;
  height: 40px;
  font-size: 32px;

  border: 3px solid #DDD;
}

#initial-form button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 60px;
  font-size: 32px;

  background: #EEE;
  border: 3px solid #DDD;
  color: #111;
}
